<h1>New Job Form</h1>

<%= form_for(@job) do |job_builder| %>
  Property Name: <%= job_builder.text_field :property_name %><br>
  Property Type: <%= job_builder.text_field :property_type %><br>
  Fee: <%= job_builder.number_field :fee %><br>
  <br></br>

  <%= job_builder.collection_select :client_company, Client.all, :id, :company, include_blank: 'Select Client or Enter New'%><br>

  <%= job_builder.fields_for :client_attributes do |client_builder| %>
    <%= client_builder.text_field :company, placeholder: "New Client Company" %>
    <%= client_builder.text_field :contact, placeholder: "New Client Contact" %>
  <% end %>





  <br></br>
  <%= job_builder.submit %>

<% end %>
<br></br>
<%= link_to("Cancel", user_url(@user)) %>
