<h1><%= @job.property_name %></h1>


  <p>
  Job Number: <%= @job.job_number %><br>
  Proeprty Type: <%= @job.property_type %><br>
  Appraiser: <%= @job.user.username %><br><br>

  Client: <%= @job.client.company %><br>
  Contact: <%= @job.client.contact %><br><br>

  Fee: $<%= @job.fee%><br></br>

<%= link_to("My Jobs", user_url(@user)) %>
