<h1><%= @job.property_name %></h1>


  <p>
  Job Number: <%= @job.job_number %><br>
  Property Type: <%= @job.property_type %><br>
  Appraiser: <%= @job.user.username %><br><br>

  Client: <%= link_to(@job.client.company, client_url(@job.client) )%><br>
  Contact: <%= @job.client.contact %><br><br>

  Invoiced Fee: <%= fee_string(@job) %><br>
  Appraiser Split: <%= appraiser_fee(@job) %><br></br>

<%= link_to("My Jobs", user_url(@user)) %>
